body{
    background-color: #161b1a;
}
.boxs{ 
    border: 1px solid #00a49c;
    flex-grow: 1;

    
}
.lines{
    display: flex;
    flex-grow: 1;
    
}
#gridContainer{
    width: 500px;
    height: 500px;
    border: 1px solid #00a49c;
     display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px #0e1110;
}
